{% extends "base.html" %}{% block title %}About_Us{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Background images</title>
</head>
<body background="{{url_for('static',filename='/images/sky2.png')}}">
  

<h3><p>Welcome to Swamini Tours, your gateway to spiritual exploration without breaking the bank.

At Swamini Tours, we believe that every devotee deserves the opportunity to embark on a profound spiritual journey, regardless of their budget. Our mission is to make this vision a reality by offering meticulously planned religious tours at affordable prices. Whether you're yearning to visit sacred sites, participate in holy rituals, or simply seek solace in the tranquility of spiritual destinations, we're here to make it happen.

We specialize in arranging personalized tours for individuals and groups, tailoring each itinerary to fit your budget, preferred destinations, and schedule. From pilgrimages to ancient temples to retracing the footsteps of revered saints, our diverse range of tour packages ensures that there's something for every spiritual seeker.

At Swamini Tours, we understand that the true essence of a pilgrimage lies in the journey itself. That's why we take care of all the logistics, including accommodations, transportation, and guided experiences, so you can fully immerse yourself in the spiritual ambiance without worrying about the details.

Join us at Swamini Tours and embark on a transformative journey of self-discovery and enlightenment. Let us be your trusted companion as you explore the depths of your faith and forge a deeper connection with the divine, all while staying within your budget.</p></h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1887.2332488546826!2d73.32228045619787!3d18.91073469554653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7fbfa2071edeb%3A0xc0ad2e9f7e47d13!2sSANCHI%20AVANI%20ENTERPRISES!5e0!3m2!1sen!2sin!4v1709033203390!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body></html>{% endblock %}