{% extends "home.html" %}{% block title %}info Page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Background images</title>
</head>
<body background="{{url_for('static',filename='/images/sky2.png')}}">

</body>
</html>
Uttarkashi, meaning Kashi of the north, is a town located in Uttarkashi district in Uttarakhand, India. Uttarkashi town is headquarters of the district. Uttarkashi is also known as Somya Kashi. Uttarkashi is a Hindu religious place for spiritual and adventurous tourism. Uttarkashi town is also called as Shivnagri. The town has number of temples and ashrams. Uttarkashi is known for its religious people, weather, education.

{% endblock %}