{% extends "home.html" %}{% block title %}info Page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Background images</title>
</head>
<body background="{{url_for('static',filename='/images/sky2.png')}}">

</body>
</html>
The Tulja Bhavani Temple is dedicated to the Hindu goddess Bhavani. The town has received much notice during past centuries since the temple has always enjoyed a special association with the Bhosale clan to which Chhatrapati Shivaji belonged. Goddess Bhavani was the family deity of the Bhosale clan. As the Goddess Bhavani is the deity of many people from Maharashtra, they come walking in during the Dasara Festival to worship the Goddess Bhavani. Every year after Navaratri, on the eve of Kojagiri pournima, many devotees cover long distances to reach the city. Huge crowds are drawn to the temple for worshipping the goddess Bhavani.
{% endblock %}