{% extends "home.html" %}{% block title %}info Page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Background images</title>
</head>
<body background="{{url_for('static',filename='/images/sky2.png')}}">

</body>
</html>
During the British Raj, Akkalkot was a princely state of ruled by the royal Bhonsale dynasty. The non-salute state came under the Deccan States Agency and was bordered by Hyderabad State and the presidency of Bombay Presidency. The area of the state was 498 sq. miles. In 1911, the state enjoyed a revenue estimated at Rs.26,586/- and paid a tribute to the British Raj of Rs.1,000/-.Its population in 1901 was 82,047, while the population of the town itself was 8,348 in that year.[5] The population of the state in 1921 was 81,250, comparable to 1901 but having seen 9% growth followed by decline in the intervening 20 years; the population of the town in 1921 was 9,189.[6] Between 1901 and 1911 the state's population grew by 9%, after which it declined to 81,250 by 1921.[6]
{% endblock %}