{% extends "home.html" %}{% block title %}info Page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Background images</title>
</head>
<body background="{{url_for('static',filename='/images/sky2.png')}}">

</body>
</html>
Mount Girnar is a major igneous plutonic complex which intruded into the basalts towards the close of the Deccan Trap period. The rock types identified in this complex are gabbros (tholeiitic and alkalic), diorites, lamprophyres, alkali-syenites and rhyolites. The parent gabbroic magma is shown to have given rise in sequence to diorites, lamprophyres and alkali-syenites. The rhyolite, though earlier considered a product of differentiation, is now believed to be an independent magma without any genetic link with the gabbro and its variants.[1][2]
{% endblock %}